<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Time And Have Dinner With U Lovely Girl</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css.css') }}">
</head>
<body>
<form id="signup" target="/" method="post">
    <h1>Start doing cool stuff in seconds.</h1>
    <input type="text" name='xh' placeholder="学号" required="">
    <input type="password" name='password' placeholder="选课密码" required="">
    <input type="email" name="email" placeholder="通知接收邮件" required="">
    <button type="submit" >摇滚吧小青年！</button>

<p><br><br><br>说明:<br>
1.如果你愿意手动提交,请前往-><a href="http://202.194.15.33:21043">http://202.194.15.33:21043</a>手动提交.<br>
2.如果你觉得手动提交很烦,请输入你的选课帐号和密码.<br>
3.本程序开放源代码,无毒无后门,所有密码均为一次性使用,保证各位的信息安全..<br>
开源地址: <a href="https://github.com/fiht/SDU_Pingjiao">https://github.com/fiht/SDU_Pingjiao</a><br>
</p>
    </form>
</body>
</html>
