<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Time And Have Dinner With U Lovely Girl</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css.css') }}">
</head>
<body>
<form id="signup" target="/" method="post">
    <h1>Start doing cool stuff in seconds.</h1>
    <input type="text" name='xh' placeholder="学号" required="">
    <input type="password" name='password' placeholder="选课密码" required="">
    <input type="email" name="email" placeholder="通知接收邮件" required="">
    <button type="submit" >摇滚吧小青年！</button>
</form>
</body>
</html>